/**
 * @author: pkeros.
 * @date: 2016/6/12.
 * @mail: pkeros@vip.qq.com
 * @see: https://www.github.com/pkeros/
 */

@import "variables";
@import "library/index";
@import "views/boot";
@import "components/index";

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.router-wrap {
  font-size: 13px;

  .markdown-ul {
    padding: 0 0 10px 30px;
    list-style-type: circle;

    li {
      padding: 3px;
    }
  }
}
