/**
 * @description 全局样式.
 * @author pkeros
 * @data 2016/12/8
 * @email pkeros@vip.qq.com
 */

.spacing-0-7 {
  border-spacing: 0 7px;
}
.spacing-20-0 {
  border-spacing: 20px 0;
}

//table-tools
.table-striped .tools .item {
    display: inline-block;
    vertical-align: middle;
    padding: 3px;
    color: #444;
    cursor: pointer;
    zoom: 1;
}

// 错误提醒样式
.form-box-center .has-error .input {
  border-color: #F44336;
}

// 灰化 input readonly
.input[readonly] {
  background: #f4f4f4;
}
